@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

.Container {
    width: 375px;
    height: 92px;

}
.ToolbarDark
{
    width: 375px;
    height: 48px;
    top: 44px;
    display: flex;
    justify-content: space-between;
}
.MyLogoContainer
{
    width: Hug(100px);
    height: Hug(40px);
    top: 4px;
    left: 12px;
    padding: 10px, 12px, 10px, 12px;
}
.MyLogo
{
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    align-content: center;
    color: #6070FF;
    ;
}
.BurgerButtonContainer
{
    width: hug(40px);
    height: hug(40px);
    top: 4px;
    left: 311px;
    radius: 8px;
    padding: 8px;
}
.BurgerButtonContainer2
{
    width: 24px;
    height: 24px;
}
.BurgerButton
{
    width: 18px;
    height: 12px;
    top: 4px;
    left: 3px;
    color: #6070FF;
    ;
}


